# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# others
#
*.env
.vscode/
coverage/
.scannerwork/
*.log

.travis-ci/bitbucket_key
.secrets

# We are using yarn on this project
package-lock.json
